<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div>
    <br><br>
    <h1 style="text-align:center"> Login</h1>
    <form action="http:///login" method="post" target="_blank" onsubmit="try {return window.confirm(&quot;This form may not function properly due to certain security constraints.\nContinue?&quot;);} catch (e) {return false;}">
        <div style="margin-left:40px">
            <br><br>
            <label><b>User Name</b></label>
            <input type="text" name="username"><br><br>

            <label><b>Password</b></label>
            <input type="text" name="password">
            <br><br>
            <input style="width:fit-content;text-align:center" type="submit" value="Login">
            <a>Forgot Password?</a>
        </div>
    </form>
</div>
</body>
</html>